<%- include('../partials/header') %>

    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>FlightNo</th>
                <th>Departs</th>
            </tr>
        </thead>
        <tbody>

            <% flights.forEach(function(f) { %>
                <tr>
                    <td>
                        <%= f.airline %>
                    </td>
                    <td>
                        <%= f.airport %>
                    </td>
                    <td>
                        <%= f.flightNo %>
                    </td>
                    <td>
                        <%= f.departs.toISOString().slice(0, 16) %>
                    </td>
                    <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
                </tr>
                <% }); %>

        </tbody>
    </table>

    <%- include('../partials/footer') %>
