<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>My Skill</title>
</head>

<body>
    <a href="/">Home</a> | <a href="/skills">My awesome developer skills</a>
    <h1>Skill #<%= skillNum %>
    </h1>
    <h3>
        <%= skill.skill %>
    </h3>
    <h3>Level: <%= skill.level %>
    </h3>
    <!-- <a href="/skills/<%= skill.id %>?_method=DELETE">Delete Skill</a> -->
    <form action="/skills/<%= skill.id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">Delete Skill</button>
    </form>

</body>

</html>